name: ARM runner

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pguyot/arm-runner-action@v2
      with:
        commands: |
          make test
          make install PREFIX="$PWD/_install"
          ( cd "$PWD/_install" && tar czf ../LinuxARM.tar.gz . )
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: LinuxARM.tar.gz
