name: NetBSD-vm

on:
  workflow_dispatch:
  push:
    tags:
      - v**

jobs:
  test:
    runs-on: ubuntu-latest
    name: A job to run test in NetBSD
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Test in NetBSD
      id: test
      uses: vmactions/netbsd-vm@v1
      with:
        usesh: true
        prepare: |
          /usr/sbin/pkg_add bash
          /usr/sbin/pkg_add gmake
        run: |
          gmake test
          gmake install PREFIX="$PWD/_install"
          ( cd "$PWD/_install" && tar czf ../NetBSD.tar.gz . )
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: NetBSD.tar.gz
